[submodule "solarized-emacs"]
	path = solarized-emacs
	url = https://github.com/bbatsov/solarized-emacs
[submodule "dash.el"]
	path = dash.el
	url = https://github.com/magnars/dash.el
[submodule "yaml-mode"]
	path = yaml-mode
	url = https://github.com/yoshiki/yaml-mode
[submodule "clojure-mode"]
	path = clojure-mode
	url = https://github.com/clojure-emacs/clojure-mode
[submodule "multiple-cursors.el"]
	path = multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el
[submodule "markdown-mode"]
	path = markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "slime"]
	path = slime
	url = https://github.com/slime/slime
[submodule "SusColors-emacs"]
	path = SusColors-emacs
	url = https://github.com/TheSuspiciousWombat/SusColors-emacs
[submodule "julia-emacs"]
	path = julia-emacs
	url = https://github.com/JuliaEditorSupport/julia-emacs
[submodule "julia-shell-mode"]
	path = julia-shell-mode
	url = https://github.com/dennisog/julia-shell-mode
